@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Madimi+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-color: #9c59ef71 #030014;
  scrollbar-width: thin;
  scroll-padding: 0 10px;
}

body {
  background-color: #030014;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --primary-color: #9d59ef;
  --secondary-color: #dd524b;
  --tertiary-color: #00fbff;
}

.custom-text-color {
  @apply bg-gradient-to-r from-[#9d59ef] to-[#dd524b] bg-clip-text text-transparent;
}

.shadow-custom-color {
  box-shadow: 1px 4px 4px 1px #9d59ef;
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.active {
  color: var(--tertiary-color);
}

.image-animate {
  animation: image-animate 5s linear infinite alternate;
}

@keyframes image-animate {
  0% {
    transform: translateY(0) rotate(0deg);
    /* transform: scale3d(0, 0, 1);
    transform: rotate(0deg); */
  }

  25% {
    transform: translateY(-25px) rotate(7deg);
    /* transform: scale3d(0, 1, 0);
    transform: rotate(7deg); */
  }

  50% {
    transform: translateY(-40px) rotate(15deg);
    /* transform: scale3d(1, 0, 0);
    transform: rotate(15deg); */
  }

  100% {
    transform: translateY(0) rotate(0deg);
    /* transform: scale3d(0, 0, 1);
    transform: rotate(0deg); */
  }
}
