@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030014;
  color: white;
  scroll-behavior: smooth;
}

.custom-text-color {
  @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
}
